@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700|Roboto:100,400,700&display=swap&subset=japanese');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:900&display=swap');
:root {
  --purple: #7371FC;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  background: #f2f4f7;
}
main {
  max-width: 800px;
  margin: auto;
}

#hero {
  height: 420px;
  /* background-image: url('../img/mesh.png'), url('../img/trio.jpg'); */
  /* background-image: url('../img/mesh.png'), url('../img/yagi.png');
  background-repeat: repeat, no-repeat;
  background-position: left, center 10%;
  background-size: auto, cover; */
  background: #17255A;
  overflow: hidden;
  /* filter: brightness(60%); */
}
#hero .team {
  color: white;
  font-family: 'Noto Serif JP', serif;
  font-size: 3rem;
  /* letter-spacing: 2px; */
  padding: 30px;
}
#hero .team p {
  line-height: 1.4;
  font-size: 20px;
}
#hero .team .row {
  position: relative;
  display: flex;
  overflow: hidden;

}
#hero .team .row .bg {
  background: white;
  width: 100%;
  position: absolute;
  right: 0;
  transition: .3s .1s;
}
#hero .team.init .bg {
  right: -100%;
}
#hero .letters {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -8px;
}
#hero .team .l {
  display: inline-block;
  opacity: 0;
  transform: scale(11, 11);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#hero .team.init .l {
  opacity: 1;
  transform: scale(1);
}
