@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:900&display=swap');
main {
  max-width: 800px;
  margin: auto;
}

header {
  /* height: 30px; */
  display: none;
}
header .club {
  font-family: 'Noto Serif JP', serif;
  font-size: 2rem;
  line-height: 40px;
  padding: 0 16px;
  letter-spacing: .5px;
  color: #333;
}

#hero {
  height: 400px;
  background-image: url('../img/someone.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: cover;
  overflow: hidden;
}
#hero .team {
  color: white;
  font-family: 'Noto Serif JP', serif;
  padding: 90px 30px 10px;
  height: 100%;
  background: #010211;
  transition: 2s ease-in .8s;
  z-index: 100;
}
#hero .team.init {
  background: #0000;
}
#hero .team .row {
  font-size: 0px;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#hero .team .row span {
  font-size: 40px;
  line-height: 1.2;
  display: block;
  opacity: 0;
  transform: scale(11, 11);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
#hero .team.init .row span {
  opacity: 1;
  transform: scale(1);
}
#hero .row:last-child span {
  font-size: 60px;
  line-height: 1.1;
}

#hero .links {
  margin: -100px auto 0;
  color: white;
  font-size: 1.2rem;
  padding: 6px 0;
  letter-spacing: 1px;
  text-align: center;
  opacity: 0;
  font-weight: bold;
  transition: 0.9s 1.8s;
  display: block;
  text-decoration: none;
  background: #40b652;
  width: 180px;
  border-radius: 50px;
  line-height: 22px;
  border: solid 1px white;
}
#hero .team.init + .links {
  opacity: 1;
}

#recruit {
  position: relative;
  display: none;
}
#recruit h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  color: #111;
  font-weight: 400;
}
#recruit .row {
  display: flex;
  justify-content: center;
}
#recruit .container {
  position: relative;
  width: 46%;
  height: 200px;
}
#recruit .container:nth-of-type(2) {
  margin-top: 10px;
}
#recruit .container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}
#recruit .container p {
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 68px;
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
}
#recruit .container:nth-of-type(1) p {
  background: #001f4f88;
  top: 8px;
  left: 8px;
}
#recruit .container:nth-of-type(2) p {
  background: #03030588;
  bottom: 8px;
  right: 8px;
}


.head {
  padding: 30px;
}
.head h2 {
  color: #aaa;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 2;
}
.head h3 {
  padding-bottom: 5px;
  font-size: 1.6rem;
  line-height: 1.6;
}
#about p {
  margin-top: 5px;
  line-height: 1.8;
  font-size: 1.4rem;
  color: #222;
  text-align: justify;
}

#pane {
  display: flex;
  flex-wrap: wrap;
}
#pane a {
  background: black;
  color: white;
  text-decoration: none;
  width: 33.3%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
  z-index: 0;
}
#pane a:nth-of-type(1) {
  background-image: url('../img/groupphoto.jpg');
}
#pane a:nth-of-type(2) {
  background-image: url('../img/cheers.jpg');
}
#pane a:nth-of-type(3) {
  background-image: url('../img/training.jpg');
}
#pane a:nth-of-type(4) {
  background-image: url('../img/pool.jpg');
}
#pane a:nth-of-type(5) {
  background-image: url('../img/ski.jpg');
}
#pane a:nth-of-type(6) {
  background-image: url('../img/meet.jpg');
}
#pane a::before {
  content: '';
  position: absolute;
  background-image: inherit;
  filter: brightness(70%);
  background-position: center;
  background-size: cover;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#pane a:hover::before {
  filter: brightness(100%);
}

footer {
   background: #0C0910;
   color: white;
}
footer #copyright {
  padding: 30px 0 10px;
  text-align: center;
}
