@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:900&display=swap');
main {
  max-width: 800px;
  margin: auto;
}

#hero {
  height: 420px;
  background-image: url('../img/mesh.png'), url('../img/someone.jpeg');
  background-repeat: repeat, no-repeat;
  background-position: left, center 10%;
  background-size: auto, cover;
  overflow: hidden;
  /* filter: brightness(60%); */
}
#hero .team {
  color: white;
  font-family: 'Noto Serif JP', serif;
  font-size: 3rem;
  /* letter-spacing: 2px; */
  padding: 30px;
}
#hero .team p {
  line-height: 1.4;
  font-size: 20px;
}
#hero .team .row {
  position: relative;
  display: flex;
  overflow: hidden;

}
#hero .team .row .bg {
  background: white;
  width: 100%;
  position: absolute;
  right: 0;
  transition: .3s .1s;
}
#hero .team.init .bg {
  right: -100%;
}
#hero .letters {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -8px;
}
#hero .team .l {
  display: inline-block;
  opacity: 0;
  transform: scale(11, 11);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

#hero .team.init .l {
  opacity: 1;
  transform: scale(1);
}

footer {
   background: #0C0910;
   color: white;
}
footer #copyright {
  padding: 30px 0 10px;
  text-align: center;
}
